@import url(./index.css);

.desktop_nav_bar {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}

.logo_container {
}

.nav_links_container {
  display: flex;
  padding: 1rem;
}

.nav_links {
  list-style: none;
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.search_bar {
  border: 1px solid #d0d0d0;
  padding: 1rem;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.fa-magnifying-glass {
  padding: 0.5rem;
}

.search_input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 90%;
}

.left_nav_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.uk_logo {
  cursor: pointer;
}

.cart_icon {
  cursor: pointer;
  width: 15%;
}

.user_box {
  border: 1px solid var(--primary-color);
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 100px;
  background-color: var(--n-background-color);
  border-radius: 0px, 32px, 0px, 32px;
  cursor: pointer;
}

.user_icon {
  width: 40%;
}

.contact_body {
  background-image: url(../public/img/bg-phone.png);
  /* height: 80vh; */
  padding: 4rem 10rem;
  /* border: 1px solid red; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about_us {
  /* border: 1px solid black; */
  width: 408px;
  background: rgba(
    200,
    200,
    200,
    0.395
  ); /* Semi-transparent white background */
  backdrop-filter: blur(50px); /* Apply the blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for added depth */
  padding: 20px;
  align-self: flex-end;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

.logo_about {
  width: 30%;
  padding: 0rem 1rem;
}

.about_text {
  text-align: left;
  padding: 0.5rem 1rem;
}

.about_text span {
  font-weight: bold;
}

.social_container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.social_box {
  background-color: black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon {
  color: white;
  font-size: 17px;
}

.contact_container {
  /* border: 1px solid black; */
  width: 60%;
  padding: 3rem;
  background: rgba(
    200,
    200,
    200,
    0.395
  ); /* Semi-transparent white background */
  backdrop-filter: blur(50px); /* Apply the blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for added depth */
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.header_text {
  font-size: 32px;
  font-weight: bold;
}

.header_text_description {
  font-size: 16px;
  color: var(--deep-neutral-color);
  font-weight: 400;
  width: 60%;
  line-height: 1.5rem;
}

.name_input_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.input_name {
  background-color: white;
  padding: 1.5rem;
  width: 40%;
  border-radius: 50px;
}

.input_email {
  background-color: white;
  padding: 1.5rem;
  width: 100%;
  border-radius: 50px;
}

.input_problem {
  width: 100%;
  padding: 1.5rem;
  border-radius: 20px;
  resize: none;
}

.newsletter_container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsletter_container_header {
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
}

.newsletter_container_description {
  width: 60%;
  text-align: center;
  padding-top: 1rem;
  color: var(--secondary-color);
}

.email_sub_container {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.sub_input {
  border-radius: 50px;
  padding: 1rem;
  border: 1px solid gray;
  width: 55%;
}

.action_button {
  text-align: center;
}

.action_button:hover {
  transform: scale(0.95);
  transition: ease-in-out 0.6s all;
  cursor: pointer;
}

.footer {
  background-color: var(--secondary-color);
  padding: 4rem 4rem 0rem 4rem;
}

.footer_box_container {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
}

.footer_box {
  width: 25%;
}

.footer_head {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color);
  padding: 1rem 0rem;
}

.footer_items {
  color: white;
  padding: 0.7rem 0rem;
}

.footer_social_box {
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_social_icon {
  color: black;
  font-size: 17px;
}

.footer_social_container {
  /* padding-top: 10px; */
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.rights {
  border-top: 1px solid var(--deep-neutral-color);
  color: #94a3b8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* RESPONISIVE DESIGN */
@media screen and (max-width: 1600px) {
  .about_us {
    width: 300px;
    border: 1px solid red;
  }

  .social_container {
    border: 1px solid rebeccapurple;
    width: 60%;
  }

  .footer_social_container {
    border: 1px solid rebeccapurple;
    width: 60%;
  }

  .contact_container {
    border: 1px solid saddlebrown;
    width: 60%;
  }
}

@media only screen and (max-width: 1500px) {
  .hamburger {
    display: block;
  }

  .nav_links_container {
    border: 1px solid red;
    display: none;
  }
  .desktop_nav_bar {
    /* display: none; */
  }

  .logo_container {
    /* display: none; */
  }
  .mobile_nav_bar {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    /* position: sticky; */
    top: 0;
    left: 0;
    background-color: white;
  }

  .search_bar {
    display: none;
  }

  .fa-times {
    font-size: 2rem;
    color: var(--primary-color);
  }

  .fa-bars {
    font-size: 2rem;
    color: var(--primary-color);
  }

  .left_nav_items {
    display: none;
  }

  .navbar_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 100%;
    padding-top: 5rem;
  }

  .mobile_user_box {
    border: 1px solid var(--primary-color);
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 100px;
    background-color: var(--n-background-color);
    border-radius: 0px, 32px, 0px, 32px;
    cursor: pointer;
  }

  .mobile_search_bar {
    border: 1px solid #d0d0d0;
    padding: 1rem;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }

  .mobile_uk_logo {
    cursor: pointer;
    width: 10%;
  }

  .mobile_cart_icon {
    cursor: pointer;
    width: 10%;
  }

  .mobile_search_input {
    font-size: 1rem;
    padding: 0.5rem;
    width: 90%;
  }

  .mobile_left_nav_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding-top: 3rem;
  }

  .mobile_nav_links_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .mobile_nav_links {
    list-style: none;
    padding: 0.5rem 3rem;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .contact_body {
    padding: 4rem 6rem;
  }

  @media screen and (max-width: 1350px) {
    .contact_body {
      padding: 3rem;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .about_us {
      width: 65%;
      align-self: center;
      margin-top: 1rem;
    }

    .logo_about {
      width: 15%;
    }

    .social_container {
      width: 24%;
    }

    .mobile_uk_logo {
      cursor: pointer;
      width: 17%;
    }

    .mobile_cart_icon {
      cursor: pointer;
      width: 17%;
    }

    .mobile_user_box {
      border: 1px solid var(--primary-color);
      width: 25%;
    }
  }

  @media screen and (max-width: 1106px) {
    .header_text_description {
      border: 1px solid red;
      width: 100%;
    }

    .input_name {
      padding: 1rem;
    }

    .input_email {
      padding: 1rem;
    }

    .logo_about {
      width: 20%;
    }

    .social_container {
      width: 30%;
    }

    .action_button {
      padding: 0.5rem;
      font-size: 0.8em;
      font-weight: bold;
    }

    .sub_input {
      padding: 0.5rem;
      font-size: 14px;
      width: 60%;
    }

    .footer_social_container {
      width: 90%;
    }
  }

  @media screen and (max-width: 890px) {
    .contact_body {
      padding: 1rem;
    }

    .input_name {
      padding: 0.8rem;
    }

    .input_email {
      padding: 0.8rem;
    }

    .about_us {
      width: 66%;
    }

    .social_container {
      width: 35%;
    }
    .footer_social_container {
      width: 100%;
    }

    .email_sub_container {
      border: 1px solid red;
      width: 46%;
    }
  }

  @media screen and (max-width: 786px) {
    .about_us {
      width: 67%;
    }

    .newsletter_container_header{
      font-size: 2rem;
    }

    .newsletter_container_description{
      width: 100%;
    }
    
   .logo_box{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .footer_box_container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .footer_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .footer_items{
    text-align: center;
   }

   .social_container{
    width: 40%;
   }

   .footer_social_container{
    width: 35%;
   }
  }

  @media screen and (max-width: 668px) {
    
  }
}
